* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
footer {
	width: 100%;
	padding: 2% 3%;
	background-color:#5498BF;
	color: #FFF;
	position: relative;
	bottom: 0;
	z-index: 2;
	background-image: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('../img/banan.png');
}
footer ul {
	list-style-type: none;
}
footer ul li {
	display: block;
}
#legal {
 	color: #fff;
 
}
