/*MOBIL*/
header h1 {
	text-align: center;
	padding-top: 4%;
}
form {
	width: 100%;
	margin: 5% 0%;
	background: #EAEAEA;
	box-shadow: 0 0 0.2rem 0.1rem rgba(0, 0, 0, 0.5);
}
form label{
	font-size: 1.2rem;
	text-align: left;
	width: 100%;
	display: block;
	padding-bottom: 2%;
}
form input{
	display: block;
	width: 100%;
	font-size: 1.1rem;
	padding: 2%;
	border-radius: 0.25rem;
	border: 0;
	box-shadow: 0 0 0.2rem 0.1rem rgba(0, 0, 0, 0.5);
}
form button {
	width: 30%;
	margin: 5% 35%;
	text-align: center;
	cursor: pointer;
	padding: 3%;
	font-size: 1.1rem;
	background-color: #5498BF;
	color: white;
	border: 0;
	border-radius: 0.3rem;
	transition: background-color 0.2s;
}
form button:hover {
	background-color: #427896;
}

#firstname-container {
	width: 90%;
	padding: 7% 5% 2% 5%;
	margin: 0% 5%;
	overflow: hidden;
}
#lastname-container {
	width: 90%;
	padding: 2% 5%;
	margin: 0% 5%;
	overflow: hidden;
}
#email-container {
	width: 90%;
	padding: 2% 5%;
	margin: 0% 5%;
	overflow: hidden;
}
#username-container {
	width: 90%;
	padding: 2% 5%;
	margin: 0% 5%;
	overflow: hidden;
}
#password-container {
	width: 90%;
	padding: 2% 5%;
	margin: 0% 5%;
	overflow: hidden;
}
#password-container label:last-of-type {
	padding-top: 3%;
}


/*DEKSTOP*/
@media only screen and (min-width: 800px){
	form {
		width: 50%;
		margin: 5% 25%;
	}
}
