/*MOBIL*/
footer {
	width: 100%;
	padding: 2% 3%;
	background-color:#5498BF;
	z-index: 2;
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('../img/banan.png');
}
footer ul {
	list-style-type: none;
}
footer ul li {
	display: block;
	color: #262221;
	font-weight: bold;
	font-size: 1.1rem;
	margin-bottom: 0.5rem;
}
#legal {
	color: #262221;
	font-weight: bold;
	font-size: 0.8rem;
}
#creator-head {
	font-size: 1.2rem;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	color: #262221;
}
#creator-head span {
	border-bottom: 0.1rem solid #262221;
}
/*DESKTOP*/
@media only screen and (min-width: 800px){
	#creator-head {
		font-size: 1.5rem;
	}
	footer ul li {
		font-size: 1.4rem;
	}
	#legal {
		font-size: 1rem;
	}
}