/*MOBIL*/
#front-page-header {
	width: 100%;
	height: 60vh;
	background-image: url("../img/front-page.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	box-shadow: 0 0 0.2rem 0.1rem rgba(0, 0, 0, 0.5);
	z-index: 5;
}
#front-page-header h1 {
	text-align: center;
	font-size: 2.5rem;
	vertical-align: middle;
	position: absolute;
	top: -10%;
	left: 50%;
	color: #fff;
	padding: 1%;
	background-color: rgba(0,0,0,0.8);
	transform: translate(-50%,-50%);
	opacity: 0;
	transition: top 2s, opacity 3s;
}
#front-page-header h1 span {
	font-size: 1.5rem;
}

#container-matches {
	overflow: auto;
	background-color: white !important;
	z-index: 5 !important;	
	box-shadow: 0 0 0.2rem 0.1rem rgba(0, 0, 0, 0.5) !important;
	display: block !important;
	position: relative !important;
}

#upcoming-matches {
	width: 100%;
	height: auto;
	padding: 2%;
	float: left;
}
#upcoming-matches h2 {
	width: 100%;
	text-align: center;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	padding: 1%;
	border-bottom: 0.1rem solid black;
}
#upcoming-matches .team-container div {
	width: 92%;
	margin: 4%;
	overflow: hidden;
	position: relative;
	background-color: #60AFDB;
	border-radius: 0.15rem;
	cursor: pointer;

}
#upcoming-matches .team-container div p {
	font-size: 2rem;
	text-align: center;
	padding: 2%;
}
#upcoming-matches .team-container div p .team-one {
	padding: 1%;
}
#upcoming-matches .team-container div p .team-vs {
	padding: 1% 2%;
}
#upcoming-matches .team-container div p .team-two {
	padding: 1%;
}

#completed-matches {
	width: 100%;
	height: auto;
	padding: 2%;
	float: left;
	height: 100%;
}
#completed-matches h2 {
	width: 100%;
	text-align: center;
	font-size: 1.6rem;
	letter-spacing: 0.1rem;
	padding: 1%;
}
#completed-matches .team-container div {
	width: 92%;
	margin: 4%;
	overflow: hidden;
	position: relative;
	background-color: #ffec66;
	border-radius: 0.15rem;
	cursor: pointer;
}
#completed-matches .team-container div p {
	font-size: 1.4rem;
	text-align: center;
	padding: 2%;
}
#completed-matches .team-container div p .team-one {
	padding: 1%;
}
#completed-matches .team-container div p .team-vs {
	padding: 1% 2%;
}
#completed-matches .team-container div p .team-two {
	padding: 1%;
}

.team-container div {
	transition: 0.2s !important;
}
.team-container div:hover {
	width: 95% !important;
	margin-left: 2.5% !important;
	margin-right: 2.5% !important;
	box-shadow: 0 0 0.2rem 0.1rem rgba(0, 0, 0, 0.5) !important;
}
#upcoming-matches .team-container div p {
	transition: font-size 0.2s !important;
}
#completed-matches .team-container div p {
	transition: font-size 0.2s !important;
}


/*DESKTOP*/
@media only screen and (min-width: 800px) {
	#front-page-header {
		height: 75vh;
		z-index: 11;
	}

	#upcoming-matches {
		width: 65%;
	}
	#upcoming-matches .team-container div p {
		font-size: 1.6rem;
	}

	#completed-matches {
		width: 35%;
	}
	#completed-matches .team-container div {
		margin: 6% 4%;
	}
	#completed-matches .team-container div p {
		font-size: 0.9rem;
	}
	#upcoming-matches .team-container div p:hover {
		font-size: 1.7rem !important;
	}
	#completed-matches .team-container div p:hover {
		font-size: 0.94rem !important;
	}

}
