/*MOBIL*/
header h1 {
	text-align: center;
	padding-top: 7%;
}
form {
	width: 100%;
	margin: 5% 0%;
	background: #ededed;
	box-shadow: 0 0 0.2rem 0.1rem rgba(0, 0, 0, 0.5);
}
form label{
	font-size: 1.2rem;
	text-align: left;
	width: 100%;
	display: block;
	padding-bottom: 2%;
}
form input{
	display: block;
	width: 100%;
	font-size: 1.1rem;
	padding: 2%;
	border-radius: 0.25rem;
	border: 0;
	box-shadow: 0 0 0.2rem 0.1rem rgba(0, 0, 0, 0.5);
}
form input:focus {
	-webkit-transition: box-shadow 0.2s;
	-moz-transition: box-shadow 0.2s;
	-ms-transition: box-shadow 0.2s;
	-o-transition: box-shadow 0.2s;
	transition: box-shadow 0.2s;
	box-shadow: 0 0 0.2rem 0.1rem #5498BF;
}
form button {
	width: 40%;
	margin: 5% 30%;
	text-align: center;
	cursor: pointer;
	padding: 3%;
	font-size: 1.1rem;
	background-color: #5498BF;
	color: white;
	border: 0;
	border-radius: 0.3rem;
	transition: background-color 0.2s;
}
form button:hover {
	background-color: #427896;
}
#team-container {
	width: 90%;
	padding: 7% 5% 2% 5%;
	margin: 0% 5%;
	overflow: hidden;
}

/*DEKSTOP*/
@media only screen and (min-width: 800px){
	form {
		width: 50%;
		margin: 5% 25%;
	}
}
